#game-board-container {
  #players-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    .player-card {
      min-width: 150px;
      width: fit-content;
      .card-content{
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  #community-hand-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #community-cards {
      display: flex;
      flex-direction: row;
      border: 1px grey solid;
      padding: 5px;
      .card-container {
        margin: 5px;
      }
    }
  }
  #info-container {
    position: fixed;
    bottom: 10px;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 10px;
    margin-right: 10px;
    #your-info {
      display: flex;
      flex-direction: column;
      #your-hand-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        #your-hand {
          display: flex;
          flex-direction: row;
          .card-container {
            margin: 5px;
          }
        }
      }
      #your-actions {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        #buttons .ant-btn {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}
